server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: event-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/events/**
              filters:
                - RewritePath=/api/(?<segment>.*), /$\{segment}
            - id: user-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/users/**
              filters:
                - RewritePath=/api/(?<segment>.*), /$\{segment}

            - id: booking-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/bookings/**
              filters:
                - RewritePath=/api/(?<segment>.*), /$\{segment}
            - id: search-service
              uri: http://localhost:8084
              predicates:
                  - Path=/api/search/**
              filters:
                  - RewritePath=/api/(?<segment>.*), /$\{segment}
            - id: payment-service
              uri: http://localhost:8085
              predicates:
                  - Path=/api/payments/**
              filters:
                  - RewritePath=/api/(?<segment>.*), /$\{segment}

management:
  endpoints:
    web:
      exposure:
        include: health, info, gateway
