spring:
  application:
    name: event-service
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
            ddl-auto: none      # do not auto-update schema in production
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info
